<div class="col-sm-12 col-md-4 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img class="media-object achievements" src="../img/advancements/<%= adv["type"] %>/<%= adv["adv"] %>.png">
                </div>
                <div class="media-body text-middle">
                    <h4 class="media-heading"><%= lang['advancement'][adv["adv_id"]] %></h4>
                    Completed: <%= adv["prog"] %> / <%= adv["prog_total"] %>
                </div>
            </div>
        </div>
    </div>
</div>