<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img class="media-object achievements" src="../img/advancements/<%= adv["type"] %>/<%= adv["adv"] %>.png">
                </div>
                <div class="media-body text-middle">
                    <h4 class="media-heading">
                        <%= lang['advancement'][adv["adv_id"]] %><br/>
                        <small>
                            <% if (adv["prog_total"] !== 0) { %>
                            Completed <%= adv["prog"] %> / <%= adv["prog_total"] %>
                            <% } else if  (adv["prog"] > 1 && adv["prog_total"] === 0) { %>
                            Completed: <%= adv["prog"] %>
                            <% } else { %>
                            Completed
                            <% } %>
                        </small>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>