<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= config['web'].title %></title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= config['web'].title %></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>
                <%= playerdata.data.playername %>
                <% if (playerdata.data.banned) { %>
                <span class="label label-danger">BANNED</span>
                <% } %>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="body.png" alt="<%= playerdata.data.playername %>'s model" class="img-rounded">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;
                                Membership
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <% if (playerdata.data.time_start) { %>
                                <li class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <%= moment(playerdata.data.time_start).format(config['render']['time-format'].full) %>
                                    </h4>
                                    <p class="list-group-item-text text-muted">First Login</p>
                                </li>
                                <% } if (playerdata.data.time_last) { %>
                                <li class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <%= moment(playerdata.data.time_last).format(config['render']['time-format'].full) %>
                                    </h4>
                                    <p class="list-group-item-text text-muted">Last Active</p>
                                </li>
                                <% } if (playerdata.data.time_lived) { %>
                                <li class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <%= moment.duration(playerdata.data.time_lived, 'seconds').asHours().toFixed(1) %> Hours
                                    </h4>
                                    <p class="list-group-item-text text-muted">Total Online</p>
                                </li>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
                                Name History
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <% playerdata.data.names.forEach(function (n) { %>
                                <li class="list-group-item">
                                    <h5>
                                        <%= n.name %>
                                        <% if (n.changedToAt) { %>
                                        <small>Changed at <%= moment(n.changedToAt).format(config['render']['time-format'].compact) %></small>
                                        <% } else { %>
                                        <small>Initial</small>
                                        <% } %>
                                    </h5>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="../">Home</a></li>
            <li>Player</li>
            <li class="active"><%= playerdata.data.playername %></li>
        </ol>
        <%
        if (playerdata.advancements) {
        var
                adv_story = [],
                adv_nether = [],
                adv_end = [],
                adv_adventure = [],
                adv_husbandry = [],
                adv_total = 0;
        Object.keys(playerdata.advancements).forEach(function(k) {
            var adv = k.split('/');
            var type = adv[0].split(':')[1];
            var prog = Object.keys(playerdata.advancements[k].criteria).length;
            var prog_total = 1;

            if (config['advancements-progress'] && config['advancements-progress'][type]) {
                if (config['advancements-progress'][type][adv[1]]) {
                    prog_total = config['advancements-progress'][type][adv[1]];
                }
            }

            var adv_val = {
                "adv": adv[1],
                "adv_id": k,
                "type": type,
                "prog": prog,
                "prog_total": prog_total
            }
            switch (type) {
                case "story":
                    adv_story.push(adv_val);
                    break;
                case "nether":
                    adv_nether.push(adv_val);
                    break;
                case "end":
                    adv_the_end.push(adv_val);
                    break;
                case "adventure":
                    adv_adventure.push(adv_val);
                    break;
                case "husbandry":
                    adv_husbandry.push(adv_val);
                    break;
                default:
                    // do nothing
            }
        });
        adv_total = adv_story.length + adv_nether.length + adv_end.length + adv_adventure.length + adv_husbandry.length;
        %>
        <% if (adv_total > 0) { %>
        <div class="row">
            <h3>Advancements</h3>
            <hr/>
            <% if (adv_story.length > 0) { %>
            <div>
                <h4>Minecraft</h4>
                <hr/>
                <% adv_story.forEach(function (adv) { %>
                <% include _player_advancement.ejs %>
                <% }) %>
            </div>
            <% } %>
            <% if (adv_nether.length > 0) { %>
            <div>
                <h4>Nether</h4>
                <hr/>
                <% adv_nether.forEach(function (adv) { %>
                <% include _player_advancement.ejs %>
                <% }) %>
            </div>
            <% } %>
            <% if (adv_end.length > 0) { %>
            <div>
                <h4>The End</h4>
                <hr/>
                <% adv_end.forEach(function (adv) { %>
                <% include _player_advancement.ejs %>
                <% }) %>
            </div>
            <% } %>
            <% if (adv_adventure.length > 0) { %>
            <div>
                <h4>Adventure</h4>
                <hr/>
                <% adv_adventure.forEach(function (adv) { %>
                <% include _player_advancement.ejs %>
                <% }) %>
            </div>
            <% } %>
            <% if (adv_husbandry.length > 0) { %>
            <div>
                <h4>Husbandry</h4>
                <hr/>
                <% adv_husbandry.forEach(function (adv) { %>
                <% include _player_advancement.ejs %>
                <% }) %>
            </div>
            <% } %>
        </div>
        <% } } %>
        <div class="row">
            <h3>Achievements</h3>
            <hr/>
            <% for (var prop in playerdata.stats) {
                var ac = prop.split('.');
            if (ac[0] === 'achievement' && Number.isInteger(playerdata.stats[prop])) {
            %>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object achievements" src="../img/achievements/<%= ac[1] %>.png">
                            </div>
                            <div class="media-body text-middle">
                                <h4 class="media-heading"><%= lang['achievement'][ac[1]] %></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } else if (ac[0] === 'achievement' && playerdata.stats[prop].value > 0) { %>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object achievements" src="../img/achievements/<%= ac[1] %>.png">
                            </div>
                            <div class="media-body text-middle">
                                <h4 class="media-heading"><%= lang['achievement'][ac[1]] %></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
        <div class="row">
            <h3>Statistics</h3>
            <hr/>
            <% for (var prop in playerdata.stats) {
                var ac = prop.split('.');
            if (ac[0] === 'stat' && lang['stat'][ac[1]]) {
            %>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        &nbsp;
                        <span class="text-primary"><%= numAbbr(playerdata.stats[prop]) %></span>
                        <span class="text-muted">
                        <%= lang['stat'][ac[1]] %>
                    </span>
                    </div>
                </div>
            </div>
            <% }} %>
        </div>
    </div>
    <hr/>
    <footer>
        <p><%= config['web'].servername %></p>
        <p class="text-muted">
            Last Update <%= moment().format(config['render']['time-format'].full) %>
        </p>
    </footer>
</div> <!-- /container -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>
